#errorMessage{
	display: none;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}

#errorMessageBox{
	height: 40px;
}

/*#playGame,*/
#joinGame{
    display: none;	
}

#tableDiv{
    width:810px;
    background-color: green;
    text-align: center;
    height: 249px;
}

.myRow{
    width: 810px;
    height: 20px;
}

.myTd{
    width: 30px;
    border: 0px;
}

.firstTd{
    width:50px;
    border: 0px;
}

.midTd{
    width:25px;
    border: 0px;
}

.table{
    width: 810px;
    text-align: center;
    margin-left: 60px;
    margin-right: 50px;
}

.tableButton{
    width: 100%;
    height: 20px;
}

.blackButton{
    background-color: black;
    color: black;
}

.redButton{
    background-color: red;
}

.american{
    background-image: url("/RouletteWeb/img/americanTable.png");
}

.french{
    background-image: url("/RouletteWeb/img/frenchTable.png");
}

.formBack{
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.myCol{
    margin-top: 5px;
    margin-bottom: 5px;
}

#minBetsSlider,
#maxBetsSlider,
#humansSlider,
#tableTypeIsFrench,
#computersSlider {
    width: 100%;
}

#minBetsSlider .slider-selection,
#maxBetsSlider .slider-selection,
#humansSlider .slider-selection,
#computersSlider .slider-selection {
    background: #BABABA;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#board{
    width: 810px;
}
.boardButton {
    /*background: transparent;*/
    border: none !important;
    font-size:0;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* fixed height of the footer */
    height: 60px;
    background-color: #f5f5f5;
}
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    margin: 20px 0;
}